In [ ]:
import pandas as pd

In [ ]:
df=pd.read_csv('/content/car_dekho_cleaned_dataset_Raw.csv')

In [ ]:
df.head()

,it,ft,bt,km,transmission,ownerNo,oem,model,modelYear,centralVariantId,...,data_2_list_10_key,data_2_list_10_value.1,data_2_list_11_key,data_2_list_11_value.1,top_5_key.1,top_5_value.2,car_links,City,mileage,Seats
0,0,Petrol,Hatchback,120000.0,Manual,3,Maruti,Maruti Celerio,2015,3979,...,No Door Numbers,5,Cargo Volumn,235-litres,NaN,NaN,https://www.cardekho.com/used-car-details/used...,Bangalore,23.10,5.0
1,0,Petrol,SUV,32706.0,Manual,2,Ford,Ford Ecosport,2018,6087,...,Cargo Volumn,352-litres,NaN,NaN,Seats,5.0,https://www.cardekho.com/buy-used-car-details/...,Bangalore,17.00,5.0
2,0,Petrol,Hatchback,11949.0,Manual,1,Tata,Tata Tiago,2018,2983,...,Alloy Wheel Size,14,No Door Numbers,5,Seats,5.0,https://www.cardekho.com/used-car-details/used...,Bangalore,23.84,5.0
3,0,Petrol,Sedan,17794.0,Manual,1,Hyundai,Hyundai Xcent,2014,1867,...,Alloy Wheel Size,14,No Door Numbers,4,Seats,5.0,https://www.cardekho.com/buy-used-car-details/...,Bangalore,19.10,5.0
4,0,Diesel,SUV,60000.0,Manual,1,Maruti,Maruti SX4 S Cross,2015,4277,...,Alloy Wheel Size,16,No Door Numbers,5,Seats,5.0,https://www.cardekho.com/used-car-details/used...,Bangalore,23.65,5.0

In [ ]:
df.dropna(inplace=True)

In [ ]:
df.drop_duplicates(inplace=True)

In [ ]:
df.tail(20)

,it,ft,bt,km,transmission,ownerNo,oem,modelYear,price,City,mileage,Seats
448,0,Diesel,MUV,125903.0,Manual,2,Renault,2015,515000.0,Bangalore,19.98,7.0
449,0,Petrol,Hatchback,33040.0,Manual,2,Hyundai,2018,799000.0,Bangalore,18.60,5.0
450,0,Diesel,SUV,110000.0,Manual,2,Toyota,2009,1200000.0,Bangalore,11.50,7.0
453,0,Diesel,SUV,120000.0,Manual,2,Toyota,2009,1275000.0,Bangalore,11.50,7.0
459,0,Diesel,Sedan,91000.0,Manual,2,Honda,2016,795000.0,Bangalore,26.00,5.0
461,0,Petrol,Sedan,114321.0,Manual,2,Maruti,2016,700000.0,Bangalore,20.73,5.0
472,0,Petrol,Sedan,58808.0,Manual,2,Honda,2016,651000.0,Bangalore,17.80,5.0
473,0,Petrol,Hatchback,31983.0,Manual,1,Hyundai,2016,715000.0,Bangalore,18.60,5.0
498,0,Petrol,SUV,53692.0,Automatic,2,Honda,2017,1675000.0,Bangalore,12.00,5.0
500,0,Petrol,Hatchback,33000.0,Automatic,1,Tata,2018,625000.0,Bangalore,23.84,5.0
526,0,Diesel,Hatchback,70000.0,Manual,2,Hyundai,2015,600000.0,Bangalore,22.54,5.0
527,0,Diesel,Sedan,33360.0,Automatic,1,Volkswagen,2014,1285000.0,Bangalore,16.96,5.0
531,0,Diesel,Sedan,51406.0,Automatic,1,Volkswagen,2018,1045000.0,Bangalore,22.15,5.0
538,0,Petrol,Sedan,51801.0,Automatic,1,Maruti,2019,738000.0,Bangalore,21.21,5.0
574,0,Petrol,Hatchback,43371.0,Manual,2,Hyundai,2015,595000.0,Bangalore,18.60,5.0
590,0,Petrol,Hatchback,73969.0,Manual,1,Hyundai,2016,685000.0,Bangalore,18.60,5.0
592,0,Petrol,Sedan,70000.0,Automatic,2,Toyota,2017,1200000.0,Bangalore,14.28,5.0
602,0,Petrol,Sedan,40000.0,Manual,1,Honda,2016,650000.0,Bangalore,17.80,5.0
607,0,Petrol,Hatchback,64235.0,Manual,2,Hyundai,2017,615000.0,Bangalore,18.60,5.0
608,0,Diesel,Hatchback,83873.0,Manual,1,Maruti,2018,746000.0,Bangalore,27.39,5.0

In [ ]:
df.dtypes

it                int64
ft               object
bt               object
km              float64
transmission     object
ownerNo           int64
oem              object
modelYear         int64
price           float64
City             object
mileage         float64
Seats           float64
dtype: object

In [ ]:
df['it']=df['it'].astype(str)
df['ownerNo']=df['ownerNo'].astype(str)
df['modelYear']=df['modelYear'].astype(str)
df['Seats']=df['Seats'].astype(str)

In [ ]:
X=df.drop(columns='price')
y=df['price']

In [ ]:
import scipy.stats as stats
categorical_columns = ['it', 'ft', 'bt', 'modelYear', 'transmission',  'oem', 'City', 'Seats']

anova_results = {}
for col in categorical_columns:
    groups = [df[df[col] == level]['price'] for level in df[col].unique()]
    if len(groups) > 1:  # Ensure there are at least two groups
        f_stat, p_value = stats.f_oneway(*groups)
        anova_results[col] = {'F-statistic': f_stat, 'P-value': p_value}

In [ ]:
anova_results

{'ft': {'F-statistic': 6.505359688609718, 'P-value': 0.013280981129286138},
 'bt': {'F-statistic': 10.011284682915285, 'P-value': 1.988320248541863e-05},
 'modelYear': {'F-statistic': 9.0375062763842,
  'P-value': 8.986620054492291e-08},
 'transmission': {'F-statistic': 11.568356563215414,
  'P-value': 0.0011887502397528325},
 'ownerNo': {'F-statistic': 1.5233558551171826,
  'P-value': 0.22628944832831505},
 'oem': {'F-statistic': 11.662892620939923, 'P-value': 3.4856358432042535e-10},
 'Seats': {'F-statistic': 2.8499278368708794, 'P-value': 0.09648483438902598}}

In [ ]:
numerical_columns = ['mileage', 'km']
anova_result = {}
for col in numerical_columns:
    groups = [df[df[col] == level]['price'] for level in df[col].unique()]
    if len(groups) > 1:  # Ensure there are at least two groups
        f_stat, p_value = stats.f_oneway(*groups)
        anova_result[col] = {'F-statistic': f_stat, 'P-value': p_value}

In [ ]:
anova_result

{'mileage': {'F-statistic': 23.157379729171254,
  'P-value': 6.303058002614513e-14},
 'km': {'F-statistic': 1.1288518662270384, 'P-value': 0.47613849354713395}}